<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.prise.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.prise.servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewEventServlet</servlet-name>
        <servlet-class>com.prise.servlet.CreateNewEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEventServlet</servlet-name>
        <servlet-class>com.prise.servlet.ViewEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEventServlet</servlet-name>
        <servlet-class>com.prise.servlet.DeleteEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.prise.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewGuestServlet</servlet-name>
        <servlet-class>com.prise.servlet.InsertNewGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestEditorServlet</servlet-name>
        <servlet-class>com.prise.servlet.GuestEditorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoRefreshServlet</servlet-name>
        <servlet-class>com.prise.servlet.DoRefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidViewServlet</servlet-name>
        <servlet-class>com.prise.servlet.AndroidViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriseServletRequestListener</servlet-name>
        <servlet-class>com.prise.listener.PriseServletRequestListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.prise.done.something.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeemDispatcherServlet</servlet-name>
        <servlet-class>com.prise.servlet.SeemDispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEventServlet</servlet-name>
        <servlet-class>com.prise.servlet.EditEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareEventServlet</servlet-name>
        <servlet-class>com.prise.servlet.ShareEventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewEventServlet</servlet-name>
        <url-pattern>/CreateNewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEventServlet</servlet-name>
        <url-pattern>/ViewEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEventServlet</servlet-name>
        <url-pattern>/DeleteEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewGuestServlet</servlet-name>
        <url-pattern>/InsertNewGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestEditorServlet</servlet-name>
        <url-pattern>/GuestEditor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoRefreshServlet</servlet-name>
        <url-pattern>/DoRefresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidViewServlet</servlet-name>
        <url-pattern>/AndroidView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriseServletRequestListener</servlet-name>
        <url-pattern>/PriseServletRequestListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeemDispatcherServlet</servlet-name>
        <url-pattern>/Seem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEventServlet</servlet-name>
        <url-pattern>/EditEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareEventServlet</servlet-name>
        <url-pattern>/ShareEvent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>com.prise.listener.PriseServletRequestListener</listener-class>
    </listener>
</web-app>
